.entryMenu {
    .menuOne {
        animation: menu 1.2s;
    }
    .menuTwo {
        animation: menu 1.4s;
    }
    .menuThree {
        animation: menu 1.6s;
    }
    .menuFour {
        animation: menu 1.8s;
    }
}

.mainMenu{
    .menuOne {
        animation: menu 2.2s;
    }
    .menuTwo {
        animation: menu 2.4s;
    }
    .menuThree {
        animation: menu 2.6s;
    }
    .menuFour {
        animation: menu 2.8s;
    } 
}

.endMenu{
    .menuOne {
        animation: menu 3.2s;
    }
    .menuTwo {
        animation: menu 3.4s;
    }
    .menuThree {
        animation: menu 3.6s;
    }
    .menuFour {
        animation: menu 3.8s;
    } 
}
