@import "__functions.scss";
/*** ANIMATION WHEN :HOVER ON ARTICLE OF MENU ***/
@keyframes slidein{
    from {
        transform: translateX(70px);
      }
    
      to { 
        transform: translateX(0px);
        width: 100px;
      }
}

/*** ANIMATION WHEN UN:HOVER On ARTICLE OF MENU ***/
@keyframes slideout{
    from {
        transform: translateX(0px);
        width: 100px;
      }
    
      to {
        transform: translateX(70px); 
      }
}
/*** ICON VALIDATOR ANIMATION ***/
@keyframes roll{
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}

/*** APPEAR MENU ANIMATION WIDTH DELAY (more at "__functions.scss")***/
@keyframes menu{
  0% {
      opacity: 0;
      margin-bottom: 20px;
      transform: scale(0);
  }
  15% {
      opacity: 0;
  }
  25% {
      opacity: 0;
  }
  50% {
      opacity: 0.5;
      transform: scale(1.05);
  }
  75% {
      opacity: 0.6;
      transform: scale(0.99);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

/**** LOADER ANIMATION SETTINGS ***/

@keyframes loader{
    0% {
        opacity: 0;
        transform: scale(0);
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
    75% {
        opacity: 0.5;
        
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
  }

  @keyframes loaderAppear{
    0%{
        opacity: 0;
        transform: scale(1.2);
        z-index: 100;
    }
    50%{
        opacity: 1;
        transform: scale(1);
    }
    90%{
        transform: scale(1);  
    }
    95%{
        transform: scale(1.8);
        margin-top: 0;
        
    }
    99%{transform: scale(1);
        opacity: 1;
        z-index: 100;
    }
    100%{
        margin-top: 400%;  
    }
  }
