/*** DESKTOP MEDIA ***/
@media screen and (min-width:768px){
    main{
        margin-left: auto;
        margin-right: auto;
    }
    
    .menuExplorer{
        button{
            width: 20% !important;
        }
    }
    .functionContainer{ /** HOW TO SETTINGS **/
        h2{
            display: flex;
            justify-content: center;
        }
    }
    .functionList{ /** HOW TO SETTINGS **/
        width: 100%;
        flex-direction: unset !important;
        justify-content: center;
        p{
            width: 30%;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 1rem 1rem !important;

            span{
                margin: 0px 5px 0px -12.5px;
                overflow: hidden;
            }

            i{
                padding: 0rem 1% 0rem 0rem !important;
            }
        }
    }
    /** RESTAURANT SELECTION SETTINGS **/
    .restaurant{
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 1rem;
        .restaurantItems{ /** RESTAURANT ITEMS SETTINGS **/
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
        }
        h2{
            display: flex;
            bottom: 405px;
        }
        article{ /** ARTICLE RESTAURANT SETTINGS (! FOR DESK ONLY )**/
            margin: 1rem !important;
            margin: 1rem;
            height: 270px;
            width: 45%;
            position: relative;
            transition: all 0.2s ease-in;
            animation: menu 3s ease-in;
            .new1, .new2{ /** <= NEW RESTAURANT CAPTION FOR MOBILE **/
                display: none;
            }
            .newDesk, .newDesk2{ /** <= NEW RESTAURANT CAPTION FOR DESKTOP **/
                width: 100%;
                position: absolute;
                height: 30px;
                bottom: 80px;
                background-color: #99E2D0;
                h4{
                    color: #2a976a;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    line-height: 30px;
                }
            }
            &:hover{
                transform: scale(1.01);
                box-shadow: $shadeMov;
            }
        }
    }
    /** MENU SELECTION SETTINGS **/
    .menu{
        display: flex;
        justify-content: space-evenly;
        width:100%;
        padding: 0 !important;
        .menuTitle{
            position: relative;
            h3{
                top: -30px;
                left: 20px;
                position: absolute;
            }
        }
        .entryMenu{
            display: block;
            width: 30%;
            margin: 1rem;
        }
        .mainMenu{
            display: block;
            width: 30%;
            margin: 1rem;
        }
        .endMenu{
            display: block;
            width: 30%;
            margin: 1rem;

        }
    }
    
    .checkout{
        width: 15% !important;
    }
}
/** NEW RESTAURANT CAPTION SETTINGS (Default : display:none; for Desk or max width 768px) **/
/** TABLET/ MOBILE FORMAT **/
@media screen and (max-width:768px){
    .newDesk, .newDesk2{
        display: none;
    }
}




